/* Write your CSS here */
.recent-match-card {
  background-color: #0f172a;
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-match-logo {
  width: 300px;
  height: 300px;
}

.recent {
  color: white;
  font-family: 'Bree serif';
  font-size: 25px;
  margin: 15px;
  text-align: center;
}

.Won {
  color: #18ed66;
}
.Lost {
  color: #e31a1a;
}
